@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="">Velkommen til dyreklinikken!</h1>
    <div>
        <h2>Din Klinik</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras dapibus sed massa sit amet consequat. Donec semper ornare elit vel eleifend. Aliquam congue, neque et rutrum accumsan, tellus nisl finibus lectus, id finibus neque nunc et felis. Suspendisse nunc felis, tincidunt eu mollis vel, dapibus vel ligula. Proin porta, diam eget ultricies efficitur, enim tortor dignissim nunc, sed dictum magna nisl a eros. Proin pharetra sapien metus, sodales tincidunt dolor ornare ut. Pellentesque ut justo ut nulla posuere malesuada. Cras sed lacus vitae massa molestie mattis vitae id ipsum. Nullam nec laoreet libero, vitae sagittis lectus.</p>
        <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
            <h3>Galleri</h3>
            <div class="carousel-indicators">
                <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
                <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
            </div>
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="https://files.guidedanmark.org/files/463/215089_billed_11.jpg" class="d-block w-100" alt="...">
                    <div class="carousel-caption d-none d-md-block">
                        <h4>Klinikken</h4>
                        <p>Some representative placeholder content for the first slide.</p>
                    </div>
                </div>
                <div class="carousel-item">
                    <img src="https://st.depositphotos.com/1518767/4292/i/600/depositphotos_42923577-stock-photo-veterinarian-holding-puppy.jpg" class="d-block w-100" alt="...">
                    <div class="carousel-caption d-none d-md-block">
                        <h4>Bente som passer dyr</h4>
                        <p class="bg-black">Hunden blev aflivet efter billedet var taget pga. ejeren ikke havde råd. Derfor så skal du støtte vores fond, hvor 20% af støtten går til dyre ejere som ikke har råd til deres dyr. Resten af støtten går til administration</p>
                    </div>
                </div>
                <div class="carousel-item">
                    <img src="https://d-gaard.dk/CustomerData/Files/Images/Archive/2-billeder/30-uaf-dyrlaege7.w1240.h440.fill_158.jpg" class="d-block w-100" alt="...">
                    <div class="carousel-caption d-none d-md-block">
                        <h4>Kat som bliver kastaret</h4>
                        <p>Some representative placeholder content for the third slide.</p>
                    </div>
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </div>
    <div>
        <h2>Dine læger</h2>
        <p>Etiam nec molestie eros. Aenean tristique auctor consectetur. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Ut dignissim faucibus quam. Vestibulum non tristique tortor, porta ultricies tortor. Nulla ut maximus diam, sed euismod nisl. Donec eleifend sem eget ex eleifend ultrices. Integer eleifend nisi sed velit eleifend, sed eleifend lacus semper. Suspendisse euismod tincidunt lorem, sit amet cursus justo hendrerit sit amet. Ut eu scelerisque dui.</p>
        <div class="row row-cols-4">
            <div class="col">
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR-0JuWhnO35bqgKw3aSHGpZrXttA2mFmxuS77dgww5Sw&s" alt="Card image cap">
                    <div class="card-body">
                        <h4 class="card-title">Hans Erik Olsen</h4>
                        <p class="card-text">Aenean tristique auctor consectetur. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.</p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR-0JuWhnO35bqgKw3aSHGpZrXttA2mFmxuS77dgww5Sw&s" alt="Card image cap">
                    <div class="card-body">
                        <h4 class="card-title">Birgitte Nielsen</h4>
                        <p class="card-text">Aenean tristique auctor consectetur. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.</p>
                    </div>
                </div>
            </div>
           
        </div>
    </div>
</div>
<hr />
<aside>
    <h3 style="display: none">Reklamer</h3>
    <div class="position-sticky row col-sm-12" style="top: 2rem;">

        <div class="p-4 mb-3 bg-light rounded col-sm-4">
            <h4 class="fst-italic">Reklame 1</h4>
            <figure>
                <img src="https://media.lex.dk/media/7517/standard_compressed_reklame.jpg" class="img-fluid" alt="Billede af midlertidigt reklame holder">
                <figcaption class="figure-caption">Tekst til reklame billedet.</figcaption>
            </figure>
            <p class="mb-0">Lorem Ipsum er ganske enkelt fyldtekst fra print- og typografiindustrien. Lorem Ipsum har været standard fyldtekst siden 1500-tallet, hvor en ukendt trykker sammensatte en tilfældig spalte for at trykke en bog til sammenligning af forskellige skrifttyper.</p>
        </div>

        <div class="p-4 mb-3 bg-light rounded col-sm-4">
            <h4 class="fst-italic">Reklame 2</h4>
            <figure>
                <img src="https://media.lex.dk/media/7518/standard_compressed_reklame.jpg" class="img-fluid" alt="Billede af midlertidigt reklame holder">
                <figcaption class="figure-caption">Tekst til reklame billedet.</figcaption>
            </figure>
            <p class="mb-0">Lorem Ipsum er ganske enkelt fyldtekst fra print- og typografiindustrien. Lorem Ipsum har været standard fyldtekst siden 1500-tallet, hvor en ukendt trykker sammensatte en tilfældig spalte for at trykke en bog til sammenligning af forskellige skrifttyper.</p>
        </div>

        <div class="p-4 mb-3 bg-light rounded col-sm-4">
            <h4 class="fst-italic">Reklame 3</h4>
            <figure>
                <img src="https://images.squarespace-cdn.com/content/v1/5543da78e4b0952dec7da35f/1544706785553-0QJL5XRIPS2ABGKXAHFJ/Irma_kaffe.jpg" class="img-fluid" alt="Billede af midlertidigt reklame holder">
                <figcaption class="figure-caption">Tekst til reklame billedet.</figcaption>
            </figure>
            <p class="mb-0">Lorem Ipsum er ganske enkelt fyldtekst fra print- og typografiindustrien. Lorem Ipsum har været standard fyldtekst siden 1500-tallet, hvor en ukendt trykker sammensatte en tilfældig spalte for at trykke en bog til sammenligning af forskellige skrifttyper.</p>
        </div>

    </div>
</aside>
